@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

/* font-family: 'Urbanist', sans-serif; */

body {
    font-size: 15px;
    font-family: 'Urbanist', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #fffff0;
}

/* Setting style for each of the container class */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
}
.btn-1 {
    height: 38px;
    background-color: black;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fffff0;
}
.light, .dark {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.light {
    background-color: #fffff0;
    color: #3f3f3f;
}
.dark {
    background-color: #3f3f3f;
    color: #fffff0;
}


/* THIS IS GONNA STYLE THE HEADER SECTION */
header { /* THIS IS THE NAV BAR */
    background-color: #3f3f3f;
    color: #fffff0;
    /* Setting a min-height so the height for the header/nav section can expand */
    min-height: 70px;
    border-bottom: 3px solid #000000;
    padding: 5px 0;
}
/* The flexbox here puts the items at either side of the page with "flex-start" */
header .container {
    display: flex;
    justify-content: space-between;
}
/* Setting the height to 100% puts the list items in the middle when flexbox is added and align items is used */
header ul {
    height: 100%;
    display: flex;
    align-items: center;
}
header ul li {
    /* Removes the bullet points of the list items */
    list-style: none;
    padding: 0 25px;
}
header a {
    color: #fffff0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
header .highlight, header #current a {
    color: black;
    font-weight: bold;
}
header a:hover {
    color: #838383;
    font-weight: bold;
}
header #current a:hover {
    color: rgb(131, 131, 131);
}



/* THIS IS GONNA BE THE SHOWCASE SECTION */
/* YOU CAN'T USE A VIDEO AS A BACKGROUND IMAGE */
#showcase {
    min-height: 400px;
    background-image: url(Images/laptop.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fffff0;
}
#showcase h1 {
    margin: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}
#showcase p {
    font-size: 20px;
}


/* THIS IS THE NEWSLETTER SECTION */
#newsletter {
    background-color: #3f3f3f;
    border-top: 3px solid #000000;
    color: #fffff0;
    padding: 15px;
}

#newsletter .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#newsletter input {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* BOXES SECTION */
/* THIS BIT IS THE FONT AWESOME ICONS AND STUFF */

#boxes {
    margin-top: 20px;
}

/* Adding display-flex here puts them all in a row */
#boxes .container {
    display: flex;
    justify-content: space-between;
}

#boxes .container .box {
    width: 30%;
    text-align: center;
    padding: 10px;
}

#boxes .container .box i {
    font-size: 225px;
    margin: auto;
}

#boxes .container .box .fa-html5 {
    color: #d45632;
}
#boxes .container .box .fa-css3-alt {
    color: #2d50dc;
}
#boxes .container .box .fa-js {
    color: #f3df50;
}


/* ABOUT SECTION */
#about {
    background-color: #3f3f3f;
    padding: 20px;
}
#about .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 50px;
}
#about .container article.main-col {
    color: #fffff0;
}
#about .container aside.sidebar {
    margin-top: 20px;
}


/* SERVICES SECTION */
#services .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 50px;
}

#services .container ul li {
    padding: 20px;
    border: 1px solid #838383;
    margin-bottom: 5px;
    background-color: #fffff6;
}

#services .container aside.sidebar {
    margin-top: 10px;
}

#services .container input,  #services .container textarea {
    padding: 5px;
    width: 90%;
}


/* FOOTER SECTION */
footer {
    background-color: #3f3f3f;
    color: #fffff0;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 10px;
    padding: 20px;
}